<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            [Agibuild.Avalonia.WebView.Core]*,
            [Agibuild.Avalonia.WebView.Adapters.Abstractions]*,
            [Agibuild.Avalonia.WebView.Runtime]*,
            [Agibuild.Avalonia.WebView.DependencyInjection]*
          </Include>
          <Exclude>
            [Agibuild.Avalonia.WebView.Testing]*,
            [Agibuild.Avalonia.WebView.UnitTests]*,
            [Agibuild.Avalonia.WebView.Adapters.MacOS]*,
            [Agibuild.Avalonia.WebView.Adapters.Windows]*,
            [Agibuild.Avalonia.WebView.Adapters.Android]*,
            [Agibuild.Avalonia.WebView.Adapters.Gtk]*,
            [Agibuild.Avalonia.WebView]*
          </Exclude>
          <ExcludeByAttribute>
            Obsolete,
            GeneratedCode,
            CompilerGenerated,
            ExcludeFromCodeCoverage
          </ExcludeByAttribute>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
